<footer class="ds-u-fill--gray-lightest">
  <section class="ds-base--inverse">
    <div class="ds-l-container ds-u-padding-top--4">
      <div class="ds-l-row">
        <div
          class="
            ds-l-col--12
            ds-l-sm-col--3
            ds-l-lg-col--3
            ds-u-margin-bottom--4
            ds-u-margin-top--2
          "
        >
          <img
            src="{{'/assets/images/cms-logo-white.png' | prepend: site.github.repository_name | prepend: '/'}}"
            width="200px"
            alt=""
          />
        </div>
        <div
          class="
            ds-l-col--12
            ds-l-sm-col--8
            ds-l-lg-col--8
            ds-u-margin-bottom--4
          "
        >
          <h6 class="ds-h4">Centers for Medicare and Medicaid Services</h6>
          This site is maintained by the CMCS Data and Systems Group.
        </div>
      </div>
    </div>
  </section>
</footer>
