<header
  class="
    ds-base--inverse
    ds-u-padding--3
    ds-u-display--flex
    ds-u-justify-content--between
    ds-u-align-items--center
  "
>
  <h1 class="ds-h3 ds-u-margin-bottom--0">
    <a href="/{{ site.github.repository_name }}">
      <img src="{{'/assets/images/cms-logo-white.png' | prepend: site.github.repository_name | prepend: '/'}}"
       width="200px"
       class="ds-u-valign--middle"
       alt=""
      >
    </a>
    <span class="ds-u-margin-left--2">MES Certification Repository</span>
  </h1>
</header>
