{% for item in site.data.toc.toc %}
{% if item.section %}
<li class="ds-c-vertical-nav__item">
  <button
    class="
      ds-c-vertical-nav__label
      ds-c-vertical-nav__label--current
      ds-c-vertical-nav__label--parent
    "
    title="Collapse sub-navigation"
    aria-controls="collapsible_for_{{forloop.index}}"
    aria-expanded="true"
  >
    {{ item.section}}
  </button>
  <ul class="ds-c-vertical-nav__subnav" id="collapsible_for_{{forloop.index}}">
    {% for sub in item.items %}
    <li class="ds-c-vertical-nav__item">
      <a class="ds-c-vertical-nav__label" href="{{ "/" | append: item.subdir | append: "/" | append: sub.title | prepend: site.baseurl }}">
        {{ sub.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="ds-c-vertical-nav__item">
  {% if item.link %}
    <a class="ds-c-vertical-nav__label" href="{{ item.link | urlencode | prepend: site.baseurl }}">
      {{ item.title }}
    </a>
  {% elsif item.url %}
    <a class="ds-c-vertical-nav__label" href="{{ item.url }}">
      {{ item.title }}
    </a>
  {% else %}
    {{ item.title }}
  {% endif %}
</li>
{% endif %}
{% endfor %}

<script
  id="toc-script"
  type="text/javascript"
  src="{{ "/assets/js/toc-expand-collapse.js" | prepend: site.baseurl }}"
  data-path="{{ site.baseurl }}"
></script>
