{% assign source = page.source | remove: ".csv" | replace: " ", "_" %}
{%- for row in site.data[source] -%}
    {%- if forloop.first -%}
        {%- for pair in row -%}
          "{{ pair[0] }}"{%- unless forloop.last %},{% endunless -%}
          {% if forloop.last %}
          {% endif %}
        {%- endfor -%}
    {%- endif -%}
{% raw %}
{% endraw %}
    {%- for pair in row -%}
        "{{ pair[1] }}"{%- unless forloop.last %},{% endunless -%}
        {% if forloop.last %}
        {% endif %}
    {%- endfor -%}
{%- endfor -%}
