<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | prepend: site.baseurl }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <main class="ds-base ds-l-container">
      <a class="ds-c-skip-nav" href="#content">Skip to main content</a>
      <div class="ds-l-row">
        <aside class="ds-u-margin-bottom--4 ds-u-md-margin-bottom--0 ds-l-md-col--4 ds-l-lg-col--3">
          <ul class="ds-c-vertical-nav">
            <li class="ds-c-vertical-nav__item" style="margin-bottom: 1em;">
              <a href="{{ "/" | absolute_url }}">
                <img src="{{'/assets/images/cms-logo.png' | prepend: site.baseurl }}" 
                width="200px"
                alt="Center for Medicare and Medicaid Services Logo. A swoosh that kinda wraps around the left side of the letters C, M, and S."></a>
            </li>
            {% include toc.html %}
          </ul>

          {% if site.github.is_project_page %}
          <p class="view">
            <small><a href="{{ site.github.repository_url }}">View the Project on GitHub {{ site.github.repository_nwo }}</a></small>
          </p>
          {% endif %}
          {% if site.github.is_project_page %}
          <p>
            <small>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small>
          </p>
          {% endif %}
        </aside>
        <article id="content" class="ds-l-md-col--8 ds-l-lg-col--9">
          <h1 class="ds-h1">{{page.title}}</h1>
            {{ content }}
        </article>
      </div>
    </main>
  </body>
</html>